*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
h1{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
}

.decodificar,
.codificar{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
label,
input,
button,
p{
    width: 70%;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 5px;
}
button{
    cursor: pointer;
}